*{
margin:0;
padding:0;
}

.card{
    margin-left: 250px;
}

body{
    font-family: 'Roboto';
}
   #form{
            background-color: #fff;
            border: 2px solid #007BFF;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 200px;
            margin-left: 50%;

        }
        .label {
            display: block;
            margin: 10px 0 5px;
        }
        .botton {
            width: 50%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .button {
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            width: 50%;
            margin left: 50%;
        }
        .button:hover {
            background-color: #0056b3;
        }

.botao{
    text-align: center;
}

 h1 {
            color: black;
            font-family: 'Arial', sans-serif; /* Fonte Arial */
            font-size: 36px; /* Tamanho da fonte */
            text-align: center; /* Alinhamento centralizado */
            margin-top: 20px; /* Margem superior */
            text-transform: uppercase; /* Letras maiúsculas */
            letter-spacing: 2px; /* Espaçamento entre letras */
            border-bottom: 2px solid #88cdf6; /* Linha inferior */
            padding-bottom: 10px; /* Espaçamento inferior */
             font-weight: bold;
        }

 h5{
     color: black;
            font-family: 'Arial', sans-serif; /* Fonte Arial */
            font-size: 20px; /* Tamanho da fonte */
            text-align: center; /* Alinhamento centralizado */
            margin-top: 20px; /* Margem superior */
            text-transform: uppercase; /* Letras maiúsculas */
            letter-spacing: 2px; /* Espaçamento entre letras */
             font-weight: bold;
        }

 p{
 font-family: 'Roboto'; /* Fonte Arial */
            text-align: center; /* Alinhamento centralizado */
            margin-top: 5px; /* Margem superior */


 }
